/* Adjust the size of the thumbnails */
.carousel .thumb {
  width: 200px; /* Set a smaller width for the thumbnails */
  height: 100px; /* Set a smaller height for the thumbnails */
  margin: 0;
  border-radius: 100% /* Remove default margin */
}

.carousel .thumb img {
  width: 100%; /* Ensure the image fits within the thumbnail */
  height: 100%; /* Ensure the image fits within the thumbnail */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
